.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-flow: column;
    display: flex;
    align-items: left;
    height: 100%;
    margin-bottom: 32px;
}

@media (min-width: 500px) {
    .NavigationItems{
        flex-flow: row;
        align-items: center;
    }
}